.loader {
    width: 45px;
    height: 45px;
    margin: 25vh auto;
    border: 5px solid #777;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

// .spinner-backgound {
//     // position: fixed; 
//     z-index: 1; 
//     // left: 0;
//     // top: 0;
//     width: 100vw; 
//     height: 100vh; 
//     background-color: rgba(0,0,0,0.5);
// }