.input-wrapper{
    position: relative;
}

.label {
    position: absolute;
    right: -1%;
    top: 14%;
}

.search-img {
    width: 70%;
}

.input-find {
    width: 100%;
    padding: 8px 32px 8px 12px;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-find::placeholder {
    color: #212529;
    opacity: 0.4;
}

.input-find:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}
