@font-face
    {
        font-family: "Montserrat";
        // src : url("../public/fonts//Montserrat-Regular.ttf"),
        src : url("../../public/fonts/Montserrat-Regular.ttf"),
    }

@font-face
{
    font-family: "Montserrat-SeniBold";
    src : url("../../public/fonts/Montserrat-SemiBold.ttf"),
}

